@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

#main {
  display: flex;
  justify-content: center;
}
#calculator {
  background-color: #313131;
  border: solid black 2px;
  padding: 10px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 500px;
}
#button-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.clr-button,
.del-button {
  grid-column: span 2;
}

#display {
    text-align: end;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  border: solid black 2px;
  border-radius: 2px;
  min-height: 80px;
  color: #3c412c;
  background-color: #a8c64e;
}

#display-prev,
#display-current {
  margin: 5px;
}

#display-prev {
  font-size: 18px;
}

#display-current {
  font-size: 32px;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    outline: none;
    color: white;
    border: 0px;
    background-color: rgba(255, 255 ,255, 0.05);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

.clr-button,
.del-button {
  background-color: #ff8f1f;
  color: black;
}
