@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

#main {
  display: flex;
  justify-content: center;
}
#calculator {
  background-color: #aaaaaa;
  border: solid black 2px;
  padding: 10px;
  border-radius: 5px;
  min-width: 300px;
  max-width: 500px;
}
#button-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.clr-button,
.del-button {
  grid-column: span 2;
}

#display {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  padding: 10px;
  border: solid black 2px;
  border-radius: 2px;
  min-height: 80px;
  color: #3c412c;
  background-color: #a8c64e;
}

#display-prev,
#display-current {
  margin: 5px;
}

#display-prev {
  font-size: 18px;
}

#display-current {
  font-size: 32px;
}

button {
  background-color: #313131;
  border-bottom: black 20px solid;
  margin: 1px;
  border-radius: 5%;
  border: none;
  font-weight: initial;
  font-size: 2em;
  font-family: monospace;
  color: white;
}

.clr-button,
.del-button {
  background-color: #ff8f1f;
  color: black;
}
